@import "tailwindcss";
@plugin "tailwindcss-animate"; 



@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 786px;
  --breakpoint-lg: 976px;
  --brand: red;
}
.main-content {
  @apply flex flex-col items-center justify-center h-screen bg-gray-950;
}


.text-brand {
  color: var(--brand)
}
.center {
  /* flex h-screen items-center justify-center; */
  
}


.h1 {
  @apply text-3xl font-bold text-white bg-blue-700
    rounded-lg p-4 shadow-lg shadow-amber-900/50;
}


@utility container{
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

@source "./node_modules/shad-cn-ui/tailwind.css";
@source "./node_modules/shad-animate/tailwind.css";
